/* Colour Variables: */
$light: #fff;
$dark: #000;
$grey: #c9c9c9;

/* Import Google Font*/
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');

body { margin: 0; }


/*---- NAVIGATION ----*/
.nav {
    font-family: 'Source Serif Pro', serif;
  &.flex-column > h4 {
    padding: 0 7rem 1rem 7rem;
  }
  &.flex-column li {
    padding: 2px 7rem;
  }
  &.flex-column li > a {
    padding: 0;
    color: $grey;
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    transition: all 0.5s ease;
  }
  &.flex-column > li > a:hover {
    background-color: red;
    color: $light;
  }
}

nav {
  h1 {
    font-size: 7rem;
    margin: 8rem 0;
    text-align: center;
    font-weight: 600;
    color: $dark;
    animation: fadein 5s;
  }

  /*Animated - Fade in effect, "Hello"*/
  @keyframes fadein {
    from  { opacity: 0; }
    to    { opacity: 1; }
  }
  h4 {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
  }
  hr {
    border-top: 1px solid $grey;
    max-width: 2%;
    min-width: 45px;
    margin: 20px 19%;
  }
  ul.nav li p {
    margin: 0;
    padding: 0;
    float: left;
  }
  a.mailto { color: $dark; }
  footer p {
    margin: 5rem 0;
    text-align: center;
  }
}

/*glyphicon*/
.glyphicon { color: $grey; }

.nav-item .glyphicon-remove {
    top: 3px;
    
    &.first {
      left: -13rem;
    }
    &.second {
      left: -6.5rem;
    }
}
.nav-item .glyphicon-earphone {
  top: 0.2rem;
  left: -11.5rem;
}
.nav-item .glyphicon-envelope {
  top: 0.4rem;
  left: -20rem;
} 

/*---- MAIN CONTENT ----*/
  /*Image 100% width, cover gutters*/
main {
  img {
    width: 100%;
    height: auto;
    transition: transform 0.3s linear;
  }
  /*Transform and transition*/
  img:hover {
      opacity: 0.6;
      filter: alpha(opacity=60); /*IE fallback*/
      transform: scale(1);
      transform: scale(1.02);
    }
  div.col-md-9 section {
    padding: 0;
    margin: 0;
    /*Line removed < 991px - first row*/
    min-height: 0;
  }
}

/*---- RESPONSIVE ----*/
/* Desktop */
@media screen and (min-width: 1025px) and (max-width: 1377px) {
  ul.nav.flex-column li   { padding: 2px 4.7rem; }
  ul.nav.flex-column > h4 { padding-left: 4.7rem; }
  nav hr { margin: 20px 14%; }
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
  ul.nav.flex-column li   { padding: 2px 4.2rem; }
  ul.nav.flex-column > h4 { padding: 0 7rem 1rem 4rem; }
  nav hr { margin: 20px 12%; }
}
@media screen and (min-width: 992px) and (max-width: 1024px) {
  .nav.flex-column > li,
  .nav.flex-column > h4 { padding: 2px 0 2px 5rem; }
  .glyphicon-envelope { left: -20rem; }
}
/* Tablet */
@media screen and (min-width: 576px) and (max-width: 991px), (max-width: 575px) {
    /*Center content*/
    header { text-align: center; }
    /*Flexbox order*/
    nav.col-md-3 {
      display: flex;
      flex-direction: column;
      padding: 0;
    }
      /*Reorder divs*/
    div#contact     {order:1;}
    div#menu-about  {order:2;}
    div#menu-filter {order:3;}
    /*Hide footer*/
    nav footer { display: none; }

    ul.nav { padding: 6% 0; }
    nav ul.nav li p { float: none; }
    .nav-item .glyphicon-earphone {
      top: 2.3rem;
      left: -5.5rem;
      color: $dark;
    }
    .nav-item .glyphicon-envelope {
      top: 2.4rem;
      left: -9.5rem;
      color: $dark;
    }
    .contact,
    nav a.mailto { color: $grey; }
    .menu-about,
    .menu-filter {
      background-color: #282828;
      color: $grey;
    }
    /*Hide, visible for sr*/
    .menu-about h4 {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    nav.col-md-3 h1 { margin-bottom: 0; }
    .contact ul.nav.flex-column {
      padding-top: 0;
      margin: 5%;
    }
    /*Hide "x"*/
    span.glyphicon.glyphicon-remove { display: none; }
    
    /*Hide horizontal line + style*/
    nav.col-md-3:not(.menu-filer) > hr,
    div#menu-about hr { display: none; }
    nav.col-md-3 hr {
      margin: -4rem 46.5% 9rem;
      border-top: 2px solid #000;
      min-width: 65px;
    }
    ul.nav.flex-column h4 {
      color: #898989;
    }
}
@media screen and (min-width: 576px) and (max-width: 991px) {
  /*Images set to 50% medium screen*/
  main section.col-md-4 img {
    width: 50%;
    height: auto;
    float: left;
  }
}
/* Mobile */
  /*Revert to 100%*/
@media screen and (max-width: 575px) {
  main section.col-md-4 img {
    width: 100%;
    height: auto;
  }
  nav.col-md-3 hr {
    margin: 0 41% 8rem;
  }
}