/* Colour Variables: */
/* Import Google Font*/
@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro");
/*---- NAVIGATION ----*/
.nav {
  font-family: 'Source Serif Pro', serif; }
  .nav > h4 {
    padding: 0 7rem 1rem 7rem !important; }
  .nav > li {
    padding: 2px 7rem !important; }
  .nav > li > a {
    padding: 0 !important;
    color: #c9c9c9;
    font-size: 1.7rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    transition: all 0.5s ease; }
  .nav > li > a:hover {
    background-color: red !important;
    color: #fff; }

nav {
  /*Animated - Fade in effect, "Hello"*/ }
  nav h1 {
    font-size: 7rem;
    margin: 8rem 0;
    text-align: center;
    font-weight: 600;
    color: #000;
    animation: fadein 5s; }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
  nav h4 {
    font-size: 1.8rem;
    font-weight: 600; }
  nav hr {
    border-top: 1px solid #c9c9c9;
    width: 12%;
    position: relative;
    top: 1rem;
    left: -8rem;
    right: 0;
    bottom: 0; }
  nav ul.nav li p {
    margin: 0;
    padding: 0;
    float: left; }
  nav a.mailto {
    color: #000; }
  nav footer p {
    margin: 5rem 0;
    text-align: center; }

/*glyphicon*/
.glyphicon {
  color: #c9c9c9; }

.glyphicon-remove {
  top: 3px !important; }
  .glyphicon-remove.first {
    left: -13rem; }
  .glyphicon-remove.second {
    left: -6.5rem; }

.glyphicon-earphone {
  top: 0.2rem !important;
  left: -11.5rem; }

.glyphicon-envelope {
  top: 0.4rem !important;
  left: -20rem; }

/*---- MAIN CONTENT ----*/
/*Image 100% width, cover gutters*/
main {
  /*Transform and transition*/ }
  main img {
    width: 100%;
    height: auto;
    transition: transform 0.3s linear; }
  main img:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
    /*IE fallback*/
    transform: scale(1);
    transform: scale(1.02); }
  main section {
    /*Override section*/
    padding: 0 !important;
    margin: 0 !important;
    /*Line removed < 991px - first row*/
    min-height: 0 !important; }

/*---- RESPONSIVE ----*/
/* Desktop */
@media screen and (max-width: 1377px) {
  .nav > li,
  .nav > h4 {
    padding: 2px 5rem !important; }

  nav hr {
    left: -6rem; } }
@media screen and (min-width: 992px) and (max-width: 1024px) {
  .nav > li,
  .nav > h4 {
    padding: 2px 0 2px 5rem !important; }

  .glyphicon-envelope {
    left: -20rem; } }
/* Tablet */
@media screen and (min-width: 576px) and (max-width: 991px), (max-width: 575px) {
  /*Center content*/
  header {
    text-align: center; }

  /*Flexbox order*/
  nav.col-md-3 {
    display: flex;
    flex-direction: column;
    padding: 0; }

  /*Reorder divs*/
  div#contact {
    order: 1; }

  div#menu-about {
    order: 2; }

  div#menu-filter {
    order: 3; }

  /*Hide footer*/
  nav footer {
    display: none; }

  /*Reposition hr*/
  nav hr {
    border: 1px solid #000;
    position: relative;
    top: 28rem;
    left: 0;
    width: 7%; }

  ul.nav {
    padding: 5% 0; }

  .nav > li {
    padding: 4px 4rem !important; }

  nav ul.nav li p {
    float: none; }

  .glyphicon-earphone {
    top: 2.3rem !important;
    left: -5.5rem;
    color: #000; }

  .glyphicon-envelope {
    top: 2.4rem !important;
    left: -9.5rem;
    color: #000; }

  .contact,
  nav a.mailto {
    color: #c9c9c9; }

  .menu-about,
  .menu-filter {
    background-color: #282828;
    color: #c9c9c9; }

  /*Hide, visible for sr*/
  .menu-about h4 {
    position: absolute;
    top: -9999px;
    left: -9999px; }

  span.glyphicon.glyphicon-remove {
    display: none; }

  nav hr:nth-child(2) {
    display: none; }

  nav h1 {
    margin-bottom: 0 !important; }

  .contact ul.nav {
    padding-top: 0 !important;
    margin: 6%; } }
@media screen and (min-width: 576px) and (max-width: 991px) {
  /*Images set to 50% medium screen*/
  main img {
    width: 50%;
    height: auto;
    float: left; } }
/* Mobile */
/*Revert to 100%*/
@media screen and (max-width: 575px) {
  main img {
    width: 100%;
    height: auto; } }
/* NEEDS FIX:
  - hr from moving on responsive
  - bulk medium screen Contact section
  - Animated "Hello" keyframe - fade in
*/

/*# sourceMappingURL=style.css.map */
